!DOCTYPE html>
<html><head>
<title>e-learn</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="HTML KickStart is a ultra–lean set of HTML5, CSS, and jQuery (javascript) files, layouts, and elements designed to give you a headstart and save you a lot of hours on your next web project." />
<meta name="copyright" content="Joshua Gatcke 99lime.com All Rights Reserved" />
<!-- <link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" /> -->
                <!-- KICKSTART -->


<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                  <!-- CUSTOM STYLES -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src=kickstart.js"></script>

<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                         <!-- KICKSTART --> --> -->
</head>
<body>
  <ul class="menu">
  <li class="current"><a href="">Home</a></li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-9 ">
  <h3><%=ur.name%>'s Crops</h3>
  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Crop Name</th>
          <th>Quantity</th>
          <th>Price/Kg</th>
        </tr>
      </thead>
      <tbody>

<% for(var i=0;i<ur.crop.length;i++){ %>
   <tr>
    <td><%=ur.crop[i].name%></td>
      <td><%=ur.crop[i].price%></td>
      <td><%=ur.crop[i].quantity%></td>

    </tr>
<% } %>


      </tbody>
</table>


</div>







<div class="col-3">
	<h4>Swagat</h4>
	<p><a class="button" href="/update">Add A crop</a></p>

</div>
</div>
</div>

















  <div class="clear"></div>
	<div id="footer">
	&copy; Copyright 2019 All Rights Reserved.Made by Harsh Singhal
	</div>

	<!-- <script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1641401-6']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script> -->

	</body></html>
